[submodule "td"]
	path = td
	url = https://github.com/tdlib/td.git
[submodule "tdsharp"]
	path = tdsharp
	url = https://github.com/egramtel/tdsharp.git
[submodule "ldd-apple"]
	path = ldd-apple
	url = https://github.com/tetractius/ldd-apple.git
