# SPDX-FileCopyrightText: 2018-2025 tdlib.native contributors <https://github.com/ForNeVeR/tdlib.native>
#
# SPDX-License-Identifier: BSL-1.0

[submodule "td"]
	path = td
	url = https://github.com/tdlib/td.git
[submodule "tdsharp"]
	path = tdsharp
	url = https://github.com/egramtel/tdsharp.git
